// Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

// Colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$veryDark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$veryLight-gray: hsl(0, 0%, 95%);

// Typography 
@mixin body-text {
  font-size: 0.9rem;
  font-family: "Lexend Deca",sans-serif;
  color: $transparent-white;
}

@mixin card-title {
  font-family: "Big Shoulders Display",sans-serif;
  font-size: 2.5rem;
  color:$veryLight-gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

.card-columns {
  width: 90%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: .4rem;

  @media only screen and (min-width: 53em) {
    display: flex;
    max-width: 75rem;
  }
}

.card {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__icon {
   margin-top: 2rem;
   margin-bottom: 2rem;
  }

  &__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include card-title;
    margin-bottom: 1.5rem;
  }

  &__text {
    @include body-text;
    margin-bottom: 2rem;
  }
}

.card:first-child {
  border-radius: .4rem .4rem 0 0;
  background-color: $bright-orange;

  & .btn {
    color: $bright-orange;

    &:hover {
      color: $transparent-white ;
    }
  }

  @media only screen and (min-width: 53em) {
    border-radius: .4rem 0 0 .4rem;
  }
}

.card:nth-child(2) {
  background-color: $dark-cyan;

  & .btn {
    color: $dark-cyan;

    &:hover {
      color: $transparent-white ;
    }
  }
}

.card:last-child {
  border-radius: 0 0 .4rem .4rem;
  background-color: $veryDark-cyan;

  & .btn {
    color: $veryDark-cyan;


    &:hover {
      color: $transparent-white ;
    }
  }

  @media only screen and (min-width: 53em) {
    border-radius: 0 .4rem .4rem 0;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 9.2rem;
  min-height: 3rem;
  border-radius: 3rem; //same as its height
  background-color: $veryLight-gray;
  @include body-text;

  &:hover {
    background-color: transparent;
    border: 2px solid $transparent-white;
  }
}
